email:
	field: Email
	required: Please enter email.
	rule: Please enter a valid email address.

protection:
	rule: Your session has expired. Please return to the home page and try again.

send:
	field: Send
